.blog{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

.post{
    border: 2px solid red;
    padding: 30px 20px;
    margin: 40px 10px;
    border-radius: 10px;
}
