.blog{
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.post{
    border: 2px solid hsla(37, 98%, 53%, .02);
    padding: 30px 10px 30px 25px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: hsl(221, 51%, 16%);
    transition: all, .5s;
}

.post:hover{
    border: 2px solid hsl(37, 98%, 53%);
}

.post h2{
    transition: all, .5s;
}
.post h2:hover a{
    color: hsl(37, 98%, 53%);
    
}

.post h2:hover i{
    color: hsl(37, 98%, 53%);
}

.post h2 a{
    padding-left: 15px;
    text-decoration: none;
}

.post p{
    font-size: .5em;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px;
    transition: all, .5s;
}

.post p a{
    text-decoration: none;
}

.post p:hover a{
    color: hsl(37, 98%, 53%);
}

.post h3{
    font-size: 1em;
}

/*modo responsivo movil de maximo 800px de ancho*/
@media only screen and (max-width:800px){
    .blog{
        padding: 10px;
        margin: 5px;
    }

    .post{
        padding: 15px 10px;
        margin: 15px 5px;
    }

    .post h2{
        font-size: 1em;
    }

    .post h3{
        font-size: .6em;
    }

    .post p{
        font-size: .4em;
    }

    .seccion article h1{
        font-size: .9em;
    }

    .seccion article p{
        font-size: .6em;
    }

}