.blog{
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

.post{
    border: 2px solid hsla(37, 98%, 53%, .02);
    padding: 30px 20px;
    margin: 40px 10px;
    border-radius: 10px;
    background-color: hsl(221, 51%, 16%);
}

.post:hover{
    border: 2px solid hsl(37, 98%, 53%);
    transition: all, .5s;
}

.post h2:hover a{
    color: hsl(37, 98%, 53%);
    transition: all, .5s;
}

.post h2:hover i{
    color: hsl(37, 98%, 53%);
    transition: all, .5s;
}

.post h2 a{
    padding-left: 15px;
    text-decoration: none;
}

.post p{
    font-size: .5em;
    padding: 5px 0px 0px 0px;
    margin: 5px 0px;
}

.post p a{
    text-decoration: none;
}

.post p:hover a{
    color: hsl(37, 98%, 53%);
    transition: all, .5s;
}

.post h3{
    font-size: 1em;
}

/*modo responsivo movil de maximo 800px de ancho*/
@media only screen and (max-width:800px){

}