@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}


:root {
    --main-bg-color: hsl(221, 51%, 16%);
}

body {
    background-color: var(--main-bg-color);
}

.item1 {
    grid-area: header;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item3 {
    grid-area: main;
    background-color: hsla(37, 98%, 53%, .02);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.item4 {
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item5 {
    grid-area: footer;
    background-color: hsla(0, 0%, 0%, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header header header'
        'menu menu menu'
        'left main right'
        'footer footer footer';
    grid-template-columns:10% auto 15%;
    grid-template-rows: 15% 10% auto 15%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.grid-container>div {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.nav__responsive-ul {
    display: none;
}

.nav {
    background-color: hsla(0, 0%, 0%, .8);
    border-radius: 50px;
    width: 60%;
   
}

.nav__li {
    display: inline-block;
    padding: 25px;
    margin: 15px;
    color: hsl(0, 0%, 90%);
}

.nav__li:hover>a {
    color: hsl(37, 98%, 53%);
    transition: all .5s;
}

.nav__li:hover {
    color: hsl(37, 98%, 53%);
    background-color: hsla(221, 51%, 16%, 0.2);
    border-radius: 10px;
    transition: all .5s;
}

.nav__li a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
}

.nav__li i {
    width: 1.5em;
}

.copyright{
    width: 80px;
}

.div-copy{
    width: 50%;
    margin: auto;
}

.div-redes{
    width: 50%;
    margin: auto;
}

.div-redes a{
    text-decoration: none;
    padding: 0.5em;
    
}

.textofooter{
    font-size: 0.7em;
    font-weight: bold;
    padding-bottom: 0.5em;
    color: hsl(0, 0%, 90%);
}

.fa-brands{
    color: hsl(0, 0%, 90%);
}

.fa-brands:hover{
    color: hsl(37, 98%, 53%);
    transition: all .5s;
}

.publimovil{
    display: none;
}

.headermovil{
    display: none;
}











@media only screen and (max-width: 800px) {
    .nav__ul{
        display: none;
    }
    
    .nav__responsive-button-container{
        position: absolute;
        width: 100vw;
        font-size: 1.5em;
        margin-top: -3em;
        z-index: 100;
    }

    .nav__responsive-button{
        padding: 0.5em 1em;
        text-align: right;
        width: 100vw;
        color: hsl(0, 0%, 90%);
    }
    
    .nav{
        background-color: hsla(0, 0%, 0%, .0);
    }

    .nav__responsive-button:hover{
        color: hsl(37, 98%, 53%);
        transition: all .5s;
    }

    .nav{
        height: 2em;
        width: 100vw;
    }

    .nav__responsive-ul{
        display:block;
        position: absolute;
        height: 2em;
        margin-top: 2em;
        padding-top: 2em;
    }

    .nav__responsive-li{
        width: 100vw;
        padding: 1em;
        margin-top: .5em;
        margin-bottom: .5em;
        display: inline-block;
    }

    .nav__responsive-li i{
        width: 1.5em;
        text-align: center;
        color: hsl(0, 0%, 90%);
    }

    .nav__responsive-li a{
        color: hsl(0, 0%, 90%);
        text-decoration: none;
    }

    .nav__responsive-li:hover i{
        color: hsl(37, 98%, 53%);
        transition: all .5s;
    }

    .nav__responsive-li:hover a{
        color: hsl(37, 98%, 53%);
        transition: all .5s;
    }

    .nav__li-container{
        position: relative;
        top: -1000px;
        height: auto;
        background-color: hsla(0, 0%, 0%, .8);
        transition: all .5s;
        z-index: 1;
        width: 100vw;
        padding-top: 1em;
    }

    .nav__responsive-ul:hover > .nav__li-container{
        top: -2em;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header'
            'menu'
            'main'
            'right'
            'footer';
        grid-template-columns: auto;
        grid-template-rows: 20% 5% auto 15% 15%;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .grid-container>div {
        text-align: center;
        font-size: 2em;
        padding: 0;
    }
  
    .div-copy{
        display: none;
    }

    .publiescritorio{
        display: none;
    }

    .publimovil{
        display: block;
    }

    .headerescritorio{
        display: none;
    }

    .headermovil{
        display: block;
    }

}