p{
    font-size: 26px;
    color: #8d1f1f;
    text-shadow: 20px;
}
body{
    background-color: rgb(199, 250, 233);
}
h1{
    font-size: 60px;
    color: blue;
}
h2{
    font-size: 48px;
    color: blueviolet;
}
.boton{
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid black;
    font-weight: 600;
    font-size: 26px;
}
.boton:hover{
    background-color:white;
    color: crimson;
}