.formulario{
    height:fit-content;
    width: auto;
}

input, select, textarea{
    font-size: .5em;
    font-weight: 600;
    color: hsl(221, 67%, 24%);
}

input:invalid,
text:invalid{
    color: hsl(0, 100%, 50%);
}