.formulario{
    height:fit-content;
    width: auto;
    padding: 5px;
    margin: 5px;
    font-size: .9em;
}

input, select, textarea{
    font-size: .5em;
    font-weight: 600;
    color: hsl(221, 67%, 24%);
}

optgroup{
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(221, 67%, 24%);
}

option{
    font-size: .9em;
    font-weight: 800;
    color: hsl(221, 67%, 24%);
}

input::placeholder{
    color: hsla(37, 98%, 53%, .5);
}

textarea::placeholder{
    color: hsla(37, 98%, 53%, .5);
}

input:invalid,
text:invalid{
    color: hsl(0, 100%, 50%);
}

input{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    
}

.botones-formulario{
    text-align: center;
}

.boton-formulario{
    font-size: 1em;
    border: 2px solid;
    transition: all .5s;
}

.boton-formulario:hover{
    color: hsl(0, 0%, 90%);
    background-color: hsl(37, 98%, 53%);
    border-color: hsl(221, 67%, 24%);
}

textarea{
    width: 35vw;
    height: 20vh;
    border-radius: 10px;
    resize: none;
}

fieldset{
    padding: 20px 20px 20px 50px;
    margin: 10px;
}

#archivo{
    color: hsl(0, 0%, 90%);
}

.formulario form fieldset{
    animation: desvanece 2s;
}

@keyframes desvanece{
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}


/*modo responsivo movil de maximo 800px de ancho*/
@media only screen and (max-width:800px){
    .formulario{
        padding: 1px;
        margin: 1px;
    }

    textarea{
        width: 75vw;
        height: 15vh;
    }

    fieldset{
        padding: 20px;
        margin: 5px;
        font-size: .8em;
    }

    .botones-formulario{
        font-size: .8em;
    }

}