.formulario{
    height:fit-content;
    width: auto;
    padding: 5px;
    margin: 5px;
}

input, select, textarea{
    font-size: .5em;
    font-weight: 600;
    color: hsl(221, 67%, 24%);
}

optgroup{
    font-size: 1em;
    font-weight: bold;
    color: hsl(221, 67%, 24%);
}

option{
    font-size: .9em;
    font-weight: 800;
    color: hsl(221, 67%, 24%);
}

input::placeholder{
    color: hsla(37, 98%, 53%, .8);
}

textarea::placeholder{
    color: hsla(37, 98%, 53%, .8);
}

input:invalid,
text:invalid{
    color: hsl(0, 100%, 50%);
}