.fila{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}

.seccion h1{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    animation: dar_vuelta 5s;
}

.columna{
    flex: 25%;
    max-width: 25%;
    padding: 0px 8px;
}

.columna img{
    width: 100%;
    margin-top: 16px;
    vertical-align: middle;
    border-radius: 10px;
    transition:all, .5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.columna img:hover{
    border: none;
    transform: scale(1.05);
    
}

@keyframes dar_vuelta{
    0%{transform:rotateX(0)}
    50%{transform:rotateX(180deg)}
    100%{transform:rotateX(360deg)}
}

/*modo responsivo movil de maximo 1600px de ancho*/
@media only screen and (max-width:1600px){
    .columna{
        flex: 33.33%;
        max-width: 33.33%;
    }

    .columna img{
        border: 3px solid hsl(221, 51%, 16%);
    }
    
    .columna img:hover{
        border: none;
    }
}

/*modo responsivo movil de maximo 1300px de ancho*/
@media only screen and (max-width:1300px){
    .columna{
        flex: 50%;
        max-width: 50%;
    }

    .columna img{
        border: 2px solid hsl(221, 51%, 16%);
    }
    
    .columna img:hover{
        border: none;
    }
}

/*modo responsivo movil de maximo 800px de ancho*/
@media only screen and (max-width:800px){
    .columna{
        flex: 100%;
        max-width: 100%;
    }

    .seccion h1{
        font-size: 1em;
    }

    .columna img{
        border: 1px solid hsl(221, 51%, 16%);
    }
    
    .columna img:hover{
        border: none;
    }
}