.fila{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}

.columna{
    flex: 25%;
    max-width: 25%;
    padding: 0px 8px;
}

.columna img{
    width: 100%;
    margin-top: 16px;
    vertical-align: middle;
}

.seccion h1{
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.columna img{
    border-radius: 10px;
}

/*modo responsivo movil de maximo 1600px de ancho*/
@media only screen and (max-width:1600px){
    .columna{
        flex: 33.33%;
        max-width: 33.33%;
    }
}

/*modo responsivo movil de maximo 1300px de ancho*/
@media only screen and (max-width:1300px){
    .columna{
        flex: 50%;
        max-width: 55%;
    }
}

/*modo responsivo movil de maximo 800px de ancho*/
@media only screen and (max-width:800px){
    .columna{
        flex: 100%;
        max-width: 100%;
    }

    .seccion h1{
        font-size: 1em;
    }
}