*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    border: 5px solid black;
    width: 40vw;
    height: auto;
    padding: 10px;
    background: aqua;
    margin: auto;
}

.contenedor img{
    float: right;
}